script.
  function gtag_report_conversion(url) {
    var callback = function () {
      if (typeof(url) != 'undefined') {
        window.location = url;
        }
      };
    //- gtag('event', 'conversion', {
    //-   'send_to': '#{adwords}/XXXXXXXXX',
    //-   'event_callback': callback
    //-   });
    return false;
  }
