
//- Código do Schema.org também para o Google+
meta(itemprop="name" content= title)
meta(itemprop="description" content= description)

//- Para Twitter Card
meta(name="twitter:card", content= title)
meta(name="twitter:site", content= url)
meta(name="twitter:title", content= title)
meta(name="twitter:description", content= description)
meta(name="twitter:creator", content="@xxxxxxxx")

//- Para sistema Open Graph
meta(property="og:title" content= title)
meta(property="og:type" content="website")
meta(property="og:url" content= url)
meta(property="og:description" content= description)
meta(property="og:site_name" content= title)
