extends ../../layout.pug

block vars
  - var page = 'home'
  - var title = 'Home Advance Comunicação'

block contents
  main
    .advance
      img(src="~@img/adv_logo.png", alt="")
      h1 Made with fire
